<section class="page_404 w-auto">
		            <div class="content404">
                        <div class="four_zero_four_bg">
                            <h1 class="text-center text-6xl">404</h1>
                        </div>
            
                        
                    </div>
                    <div class="content_box_404">
                        <h3 class="h2 text-xl mb-4">
                        Look like you're lost the page you are looking for not available!
                        </h3>
                            
                        
                    </div>
                    <a href="/" class="btn-primary mx-auto py-2 px-4 rounded-full font-bold flex w-32 flex-1 items-center justify-center">Go to Home</a>
                    
</section>