<section class="page_404 ml-36">
	<div class="container">
		<div class="row">	
		    <div class="col-sm-12 ">
		        <div class="col-sm-10 col-sm-offset-1  text-center">
		            <div class="four_zero_four_bg">
			            <h1 class="text-center text-6xl">404</h1>
                    </div>
		
		            <div class="contant_box_404">
                        <h3 class="h2 text-xl">
                        Look like you're lost
                        </h3>
		
                        <p class="mb-6 text-xl">the page you are looking for not avaible!</p>
                            
                        <a href="/" class="btn-primary py-2 px-4 rounded-full font-bold">Go to Home</a>
	                </div>
                </div>
            </div>
        </div>
	</div>
</section>